<section class="home">
  <div class="container">
    <div class="row">
      <div class="card" routerLink="Calculation">
        <div class="image">
        <img src="../../../assets/images/undraw_calculator_re_alsc.svg" alt="Calorie calculation">
        </div>
        <h3>Calorie calculation</h3>
      </div>
      <div class="card" routerLink="Nutrition">
        <div class="image">
        <img src="../../../assets/images/undraw_breakfast_psiw.svg" alt="Nutrition Analysis">
        </div>
        <h3>Nutrition Analysis</h3>
      </div>
    </div>
  </div>
</section>
